html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #000;
  overflow: hidden;
}
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#video-container {
  margin: auto;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
canvas {
  display: block;
}
header {
	background: linear-gradient(to bottom right, #000000, #706d70, #a9b0b0, #d2d4d1, #f7f7f7);
	color: #fff;
	padding: 20px;
	opacity: 0.3;
}
h1 {
	margin: 0;
text-align: center;
	opacity: 1;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}
